.wrapper{
	text-align: center;
}

.calc{
	border: 2px solid black;
	padding: 5;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

.display {
	resize: none;
	pointer-events: none;
	position: relative;
	margin: 10px;
	direction: rtl;
	box-sizing: border-box;
}

.button{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin:0;
	border:none;
}

/*input {
	padding: 10px;
	margin: 10px;
	direction: rtl;
	box-sizing: border-box;
}